apiVersion: v1
kind: Service
metadata:
  name: product-service
  labels:
    app: product-service
    managed-by: kubernetes
spec:
  type: NodePort
  selector:
    app: product-service
  ports:
    - port: 80
      targetPort: 8080
      nodePort: 30080
      protocol: TCP
      name: http
